{{#each this}}

  <div><h2>{{artist_title}}</h2>
    <p>{{id}}</p>
    <p>{{api_model}}</p>
    <p>{{title}}</p>
    <img
      src='https://www.artic.edu/iiif/2/{{image_id}}/full/843,/0/default.jpg'
      alt='title'
      width='150'
    />

  </div>

{{/each}}